@import "tailwindcss";
@plugin "@tailwindcss/typography";


.geo-header{
    background-color: #f0f4f6;
    color:#1479d5;
}

.geo-card{
    background-color: #f0f4f7;
}

.geo-number{
    background-color: #009ade;
}

.geo-status{
    background-color: #8dba38;
}

.geo-status-ip{
    background-color: #a6a6a6;
}

.geo-title{
    background-color: #ccdce3;
    color:#005073;
    font-weight: 600;
    width:fit-content;
    padding:3px;
}

.geo-technical-leader{
    background-color: #4c849d;
    color: white;
}

.geo-eye {
    color:#005073;
}

.geo-btn{
    background-color:#005073;
    color: white;
}