@import "tailwindcss";
@plugin "@tailwindcss/typography";


.geo-header{
    background-color: #f0f4f6;
    color:#1479d5;
}

.geo-card{
    background-color: #f0f4f7;
}

.geo-number{
    background-color: #019cdd;
}

.geo-status{
    background-color: #8dba3b;
}

.geo-status-ip{
    background-color: #FFD700;
}

.geo-title{
    background-color: #c8dfe1;
    color:#00556b;
    font-weight: 600;
    width:fit-content;
    padding:6px;
}

.geo-technical-leader{
    background-color: #4d839d;
    color: white;
}