---
import Layout from "../layouts/Layout.astro"
import { Icon } from 'astro-icon/components'
---

<Layout>
    <p class="text-6xl font-extrabold text-center pt-10">SCL Geospatial</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 pt-20 pb-10 align-center">
        <div>
            <div class="max-h-sm rounded-lg overflow-hidden geo-card m-2 shadow-xl">
                <div class="grid grid-cols-3 px-5 py-5 items-center">
                    <div>
                        <Icon name="mdi:file-document" class="text-9xl geo-eye"></Icon>
                    </div>
                    <div class="col-span-2">
                        <p class="font-bold text-xl py-2">PRODUCTS</p>
                        <p class="line-clamp-6">This section highlights social sector products that leverage geospatial analysis to tackle community challenges in areas such as education, health, social protection, and labor markets.</p>
                        <span class="inline-block geo-btn rounded-br-lg mt-5 px-3 py-1 float-right"><a class="" href="/SCL-GEO-Tejerina/product">  Access</a></span>
                    </div>
                    
                </div>
            </div>
        </div>
        <div>
            <div class="max-h-sm rounded-lg overflow-hidden geo-card m-2 shadow-xl">
                <div class="grid grid-cols-3 px-5 py-5 items-center">
                    <div>
                        <Icon name="mdi:layers" class="text-9xl geo-eye"></Icon>
                    </div>
                    <div class="col-span-2">
                        <p class="font-bold text-xl py-2">LAYERS</p>
                        <p class="line-clamp-6">This section highlights the geospatial layers available within the IDB Social Sector, covering areas such as education, health, social protection, and labor markets.<br><br></p>
                        
                        <span class="inline-block geo-btn rounded-br-lg mt-5 px-3 py-1 float-right"><a class="" href="/SCL-GEO-Tejerina/layer">  Access</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div >
            <div class="max-h-sm rounded-lg overflow-hidden geo-card m-2 shadow-xl">
                <div class="grid grid-cols-3 px-5 py-5 items-center">
                    <div>
                        <Icon name="mdi:file-document" class="text-9xl geo-eye"></Icon>
                    </div>
                    <div class="col-span-2">
                        <p class="font-bold text-xl py-2">GOVERNANCE</p>
                        <p class="line-clamp-6">This document outlines the framework for geospatial data governance within the IDB’s Social Sector. It ensures consistency, integrity, and quality in managing geospatial data, enhancing decision-making and strategic planning with detailed guidelines and standards. </p>
                        
                        <span class="inline-block geo-btn rounded-br-lg mt-5 px-3 py-1 float-right"><a class="" target="_blank" href="https://idbg.sharepoint.com/:b:/s/DataGovernance-SCL/ERzWsOFb6b1BuDhRgO6eSZQB7w_hX6mlxbvSo3e26sjF3Q?e=833HPP">  Access</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <p class="text-center">
        Si quiere colaborar con capas o productos que no ha encontrado en este catalogo, los invitamos a llenar el siguiente <a target="_blank" class="underline" href="https://forms.office.com/Pages/DesignPageV2.aspx?subpage=design&FormId=BRr7nR1fmkSJYGKry0eefct1V4ITbMFAhHgdcLq3i_RUMkZXWk80MVFWWVVCVlBDUEhSVE9HT0haUy4u">formulario</a>
    </p>
    
</Layout>