---
const { title, description,status, slug, layers,image, hasLayers} = Astro.props;


---

<div class="grid grid-cols-2 gap-4">
    <div>
        <a href="/scl-geo/product" class="hover:underline opacity-70">Volver atrás</a>
        <p class="text-3xl pt-5 pb-5">{title}</p>
        <p class="prose">{description}</p>
        <div class="pt-4">
            <span class=`inline-block rounded-br-lg px-3 py-1 text-sm text-white mr-2 mb-2 ${ status == 'Completed' ? 'geo-status' : 'geo-status-ip'}`> { status }</span>
            <span class="inline-block bg-sky-500 rounded-br-lg px-3 py-1 text-sm text-white mr-2 mb-2">{ layers != null ? layers.length : 0 } layers</span>    
        </div>
    </div>
    <div>
        <img class="w-full h-96" src=`/scl-geo/${hasLayers == "false" ? "layers" : "products"}/${ image != null ? image.url : "backgroundv2.png"}` alt="Sunset in the mountains">
    </div>
</div>