---

---

<div class="flex gap-4 justify-between px-4 py-4 text-sm geo-header uppercase items-center mt-1 pb-3">
    <div class="grid grid-cols-1">
        <span class="font-extrabold">Geospatial</span>
        <span class="font-extrabold">DATACATALOG</span>
    </div>
    <div>
        <a href="/scl-geo/product">Products</a>
    </div>
    <div> <a href="/scl-geo/layer">Layers</a></div>
    <div class="grid grid-cols-1">
        <span class="font-extrabold">SOCIAL</span>
        <span class="font-extrabold">SECTOR</span>
    </div>

</div>