---
---

<div class="flex gap-4 justify-between px-6 py-6 text-lg geo-header uppercase">
    <div>
        Geoespatial
    </div>
    <div>
        <a href="/scl-geo/product">Products</a>
    </div>
    <div> <a href="/scl-geo/layers">Layers</a></div>
    <div>SCL</div>

</div>