---

---

<div class="flex gap-4 justify-between px-4 py-4 text-sm geo-header uppercase items-center mt-1 pb-3">
    <div class="grid grid-cols-1">
        <a href="/scl-geo/">
            <span class="font-extrabold">
                Geospatial</span>
            <span class="font-extrabold"></span>
        </a>
    </div>
    <!-- <div>
        <a href="/scl-geo/product">Products</a>
    </div>
    <div> <a href="/scl-geo/layer">Layers</a></div> -->
    <div class="grid grid-cols-1">
        <a href="https://scldata.iadb.org/">
            <span class="font-extrabold">SOCIAL</span>
            <span class="font-extrabold">SECTOR</span>
        </a>
    </div>

</div>