---
import Header from '../components/Header.astro';
import { ViewTransitions, ClientRouter } from 'astro:transitions';
import "../styles/global.css";
import { Icon } from 'astro-icon/components'

---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
		<link href="//www.iadb.org/modules/custom/api_menu_items/V.0.0.5/css/idb-tailwind.css?v=0.0.1" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
		<script data-astro-rerun is:inline src="//www.iadb.org/modules/custom/api_menu_items/V.0.0.5/js/main.js?v=0.0.1"></script>
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
		<ViewTransitions transition: persist />
		<title>SCL Geospatial</title>
		<ClientRouter />
	</head>
	
	<body class="font-sans">

		<Header></Header>
		<div class="slot">
			<slot></slot>
		</div>
		
	</body>
</html>

<style>
	.slot {
		width: 100%;
		height: 100%;
		padding:25px;
	}

	.bg-geo{
		background-color: red;
		color:red;
		fill: red;
	}


</style>
